* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/ramiro-mendes-CjS3QsRuxnE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    font-family: sans-serif;

}

.menu-bar {
    background: rgb(65, 65, 214);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: rgb(54, 35, 35);
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(19, 18, 18);
}

.active, .menu-bar ul li:hover {
    background: rgb(239, 239, 240);
    border-radius: 5px;
}

.menu-bar .fa {
    margin-right: 8px;
}

.menu-bar .fab {
    margin-right: 8px;
}

.menu-bar .fas {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(65, 65, 214);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: red;

}

.fa-angle-right {
    float: right;

}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(186, 186, 224);
}